<a href="https://colab.research.google.com/github/KARTIKEYgarg1/udemy-data-science-and-ml/blob/master/L_290_BAYES_CLASSIFIER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import seaborn as sns
import numpy as np
iris=sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [7]:
X=iris.petal_length
Y=iris.species
Y.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [12]:
idx=np.random.permutation(np.arange(Y.size))
nTrain=120
xTrain=X[idx[:nTrain]]
yTrain=Y[idx[:nTrain]]
xTest=X[idx[nTrain:]]
yTest=Y[idx[nTrain:]]

In [14]:
yTest.size

30

In [25]:
py=np.zeros(len(Y.unique()))
for i in range(len(py)):
  py[i]=(yTrain==Y.unique()[i]).sum()/yTrain.size
#calculating the probability of each class from Y
py

array([0.34166667, 0.31666667, 0.34166667])

In [38]:
fx=np.zeros(len(py)*2)
fx.resize(len(py),2)
for i in range(len(py)):
  a=xTrain[yTrain==Y.unique()[i]]
  fx[i,0]=a.mean()
  fx[i,1]=a.std()
fx

array([[1.48780488, 0.15999238],
       [4.22368421, 0.43893865],
       [5.61219512, 0.55999782]])

In [51]:
yTest=np.asarray(yTest)
xTest=np.asarray(xTest)

In [89]:
#FINAL MODEL



# xt=xTest[0]
xt=float(input("ENTER THE PETAL LENGTH: "))
guassValue=np.zeros(3)
for i in range(len(Y.unique())):
  mu=fx[i][0]
  sgma=fx[i][1]
  guassValue[i]=py[0]*(np.exp(-(0.5*(((xt-mu)/sgma)**2))))/(sgma*((2*np.pi)**0.5))
guassValue=list(guassValue)
final=guassValue.index(max(guassValue))
print("SPECIES:",Y.unique()[final])

ENTER THE PETAL LENGTH: 1.3
SPECIES: setosa

In [119]:
#UNIQUENESS IN MY DATASET


# print(iris[['petal_length','species']].to_string(index=False))

import pandas as pd
df=pd.DataFrame(iris[['petal_length','species']])
df=df.drop_duplicates()
df=df.sort_values('petal_length')
df=df.reset_index(drop=True)
df

    petal_length     species
0            1.0      setosa
1            1.1      setosa
2            1.2      setosa
3            1.3      setosa
4            1.4      setosa
5            1.5      setosa
6            1.6      setosa
7            1.7      setosa
8            1.9      setosa
9            3.0  versicolor
10           3.3  versicolor
11           3.5  versicolor
12           3.6  versicolor
13           3.7  versicolor
14           3.8  versicolor
15           3.9  versicolor
16           4.0  versicolor
17           4.1  versicolor
18           4.2  versicolor
19           4.3  versicolor
20           4.4  versicolor
21           4.5   virginica
22           4.5  versicolor
23           4.6  versicolor
24           4.7  versicolor
25           4.8   virginica
26           4.8  versicolor
27           4.9   virginica
28           4.9  versicolor
29           5.0   virginica
30           5.0  versicolor
31           5.1  versicolor
32           5.1   virginica
33           5.2   virginica
34           5.3   virginica
35           5.4   virginica
36           5.5   virginica
37           5.6   virginica
38           5.7   virginica
39           5.8   virginica
40           5.9   virginica
41           6.0   virginica
42           6.1   virginica
43           6.3   virginica
44           6.4   virginica
45           6.6   virginica
46           6.7   virginica
47           6.9   virginica