<a href="https://colab.research.google.com/github/KARTIKEYgarg1/udemy-data-science-and-ml/blob/master/Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
LECTURE 39:SORTING A LIST
"""

L=[5,2,3,-5,3,2,1,0,-8]
for i in range(len(L)):
  for j in range(i,len(L)):
    if L[i]<L[j]:
      L[i],L[j]=L[j],L[i]
L

[5, 3, 3, 2, 2, 1, 0, -5, -8]

In [ ]:
"""Lecture 41:CREATING A SAMPLE """


def Sample():
  """This is a Sample Documentation: it can be viewed and saved for future purpose"""
  print("runned")
Sample?

In [ ]:
help(Sample)

Help on function Sample in module __main__:

Sample()
    This is a Sample Documentation: it can be viewed and saved for future purpose

In [ ]:
"""Lecture 42:Telling if input is string or not """


def printMsg(msg):
  if isinstance(msg,str):
    print("It is string")
  else:
    print("It is not string")
    print("It is of",type(msg))
printMsg("wow")
printMsg(93.5)

It is string
It is not string
It is of <class 'float'>

In [ ]:
"""Lecture 47:Making a function which adds any number of arguments"""

def myAdd(*a):
  s=0
  for i in range(len(a)):
    s=s+a[i]
  print(s)
myAdd(2,3)
myAdd(2,3,5,7,9)

5
26

In [ ]:
"""Lecture 48:Making a function which any number of arguments for a variables"""

def myDic(**a):
  for i in a:
    print(i,a[i])
myDic(apple=40,banana=50)
myDic(peach=10,mango=20,grape=90)

apple 40
banana 50
peach 10
mango 20
grape 90

In [ ]:
"""Lecture 52:Finding smallest number in list"""
def minValue(L):
  m=L[0]
  c=0
  idx=0
  for i in L:
    if i<m:
      m=i
      idx=c
    c=c+1
  return m,idx
print(minValue([5,2,3,-1]))

(-1, 3)

In [17]:
import pandas as pd
x=pd.read_csv("covid19.csv")
x.head()

,Unnamed: 0,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,0,1,1/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,1,2,1/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,2,3,1/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,3,4,1/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,4,5,1/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [18]:
x.drop(['Unnamed: 0'],axis=1,inplace=True)
x.rename(columns={'ObservationDate':'Date'},inplace=True)
x.head()
# inplace is used because it states that, we have to update the original dataframe i.e., x

,SNo,Date,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,1/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,1/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,1/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,1/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,1/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [19]:
x['Date']=pd.to_datetime(x['Date'])
x.head()

,SNo,Date,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [21]:
x2=x.groupby('Country/Region')[['Country/Region','Confirmed','Deaths','Recovered']].sum().reset_index()
x2

   Country/Region  Confirmed  Deaths  Recovered
0       Hong Kong          0       0          0
1           Japan          2       0          0
2           Macau          1       0          0
3  Mainland China        647      18         30
4     South Korea          1       0          0
5          Taiwan          1       0          0
6        Thailand          2       0          0
7              US          1       0          0