<a href="https://colab.research.google.com/github/KARTIKEYgarg1/udemy-data-science-and-ml/blob/master/Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
LECTURE 39:SORTING A LIST
"""

L=[5,2,3,-5,3,2,1,0,-8]
for i in range(len(L)):
  for j in range(i,len(L)):
    if L[i]<L[j]:
      L[i],L[j]=L[j],L[i]
L

[5, 3, 3, 2, 2, 1, 0, -5, -8]

In [ ]:
"""Lecture 41:CREATING A SAMPLE """


def Sample():
  """This is a Sample Documentation: it can be viewed and saved for future purpose"""
  print("runned")
Sample?

In [ ]:
help(Sample)

Help on function Sample in module __main__:

Sample()
    This is a Sample Documentation: it can be viewed and saved for future purpose

In [ ]:
"""Lecture 42:Telling if input is string or not """


def printMsg(msg):
  if isinstance(msg,str):
    print("It is string")
  else:
    print("It is not string")
    print("It is of",type(msg))
printMsg("wow")
printMsg(93.5)

It is string
It is not string
It is of <class 'float'>

In [ ]:
"""Lecture 47:Making a function which adds any number of arguments"""

def myAdd(*a):
  s=0
  for i in range(len(a)):
    s=s+a[i]
  print(s)
myAdd(2,3)
myAdd(2,3,5,7,9)

5
26

In [ ]:
"""Lecture 48:Making a function which any number of arguments for a variables"""

def myDic(**a):
  for i in a:
    print(i,a[i])
myDic(apple=40,banana=50)
myDic(peach=10,mango=20,grape=90)

apple 40
banana 50
peach 10
mango 20
grape 90

In [ ]:
"""Lecture 52:Finding smallest number in list"""
def minValue(L):
  m=L[0]
  c=0
  idx=0
  for i in L:
    if i<m:
      m=i
      idx=c
    c=c+1
  return m,idx
print(minValue([5,2,3,-1]))

(-1, 3)

In [ ]:
"""Lecture 81-82:Finding smallest number in list"""
import pandas as pd
x=pd.read_csv("covid19.csv")
x.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.0000,65.0000,1/22/20,0,0,0
1,NaN,Albania,41.1533,20.1683,1/22/20,0,0,0
2,NaN,Algeria,28.0339,1.6596,1/22/20,0,0,0
3,NaN,Andorra,42.5063,1.5218,1/22/20,0,0,0
4,NaN,Angola,-11.2027,17.8739,1/22/20,0,0,0

In [ ]:
x.drop(['Province/State'],axis=1,inplace=True)
# x.rename(columns={'ObservationDate':'Date'},inplace=True)
x.head()
# inplace is used because it states that, we have to update the original dataframe i.e., x

  Country/Region      Lat     Long     Date  Confirmed  Deaths  Recovered
0    Afghanistan  33.0000  65.0000  1/22/20          0       0          0
1        Albania  41.1533  20.1683  1/22/20          0       0          0
2        Algeria  28.0339   1.6596  1/22/20          0       0          0
3        Andorra  42.5063   1.5218  1/22/20          0       0          0
4         Angola -11.2027  17.8739  1/22/20          0       0          0

In [ ]:
x['Date']=pd.to_datetime(x['Date'])
x.head()

  Country/Region      Lat     Long       Date  Confirmed  Deaths  Recovered
0    Afghanistan  33.0000  65.0000 2020-01-22          0       0          0
1        Albania  41.1533  20.1683 2020-01-22          0       0          0
2        Algeria  28.0339   1.6596 2020-01-22          0       0          0
3        Andorra  42.5063   1.5218 2020-01-22          0       0          0
4         Angola -11.2027  17.8739 2020-01-22          0       0          0

In [ ]:
x2=x.groupby('Country/Region')[['Country/Region','Confirmed','Deaths','Recovered']].sum().reset_index()
x2

         Country/Region  Confirmed  Deaths  Recovered
0           Afghanistan     115615    3211      13641
1               Albania      34319    1408      20212
2               Algeria     183263   19089      76184
3               Andorra      36237    1862      16176
4                Angola       1452     106        383
..                  ...        ...     ...        ...
183  West Bank and Gaza      17029      95       6333
184      Western Sahara        256       0        144
185               Yemen       1190     190         30
186              Zambia       8987     166       3102
187            Zimbabwe       1386     171        226

[188 rows x 4 columns]

In [17]:
"""Lecture 102::Practice quiz"""
import numpy as np
myArray1=10*np.random.rand(50)
myArray1=np.round(np.floor(myArray1))
print(myArray1)
myArray2=myArray1[myArray1>5]
print(myArray2)
myArray1=np.sort(myArray1)
myArray1=myArray1[::-1]
myArray2=np.sort(myArray2)
print(myArray1,myArray2)

[1. 4. 4. 8. 2. 4. 0. 7. 1. 5. 7. 5. 2. 3. 3. 3. 9. 0. 7. 9. 6. 8. 1. 7.
 9. 4. 2. 5. 4. 0. 5. 4. 7. 1. 3. 1. 0. 5. 5. 9. 8. 7. 1. 9. 9. 6. 8. 2.
 2. 1.]
[8. 7. 7. 9. 7. 9. 6. 8. 7. 9. 7. 9. 8. 7. 9. 9. 6. 8.]
[9. 9. 9. 9. 9. 9. 8. 8. 8. 8. 7. 7. 7. 7. 7. 7. 6. 6. 5. 5. 5. 5. 5. 5.
 4. 4. 4. 4. 4. 4. 3. 3. 3. 3. 2. 2. 2. 2. 2. 1. 1. 1. 1. 1. 1. 1. 0. 0.
 0. 0.] [6. 6. 7. 7. 7. 7. 7. 7. 8. 8. 8. 8. 9. 9. 9. 9. 9. 9.]